@media screen and (min-width: 586px) {
  header {
    display: flex;
    flex-direction: column;
    padding: 0 10px 5px 10px;
  }
  header nav .logoContainer {
    height: 80px;
    padding-top: 12px;
    margin-bottom: 6px;
    width: 98%;
  }
  header nav .logoContainer a {
    width: 188px;
    height: 62px;
  }
  header nav .logoContainer a span:first-child {
    font-size: 2.2em;
  }
  header nav .logoContainer a span:last-child {
    font-size: 0.87em;
    line-height: auto;
    padding-top: 5px;
  }
  header ul {
    display: flex;
    flex-direction: row;
  }
  header ul li {
    width: 18%;
    font-size: 0.7em;
  }
  header ul li a {
    width: 100%;
  }
  header ul li:last-child a {
    padding: 3px 3px 3px 3px;
  }
  section .image {
    width: 70%;
    margin: auto;
  }
  section .image .image1 {
    top: 616px;
  }
  section .image .image2 {
    top: 610px;
  }
  section .image .image3 {
    top: 604px;
  }
  section .image .image4 {
    top: 598px;
  }
  section .image .image5 {
    top: 592px;
  }
  section .image .image6 {
    top: 586px;
  }
  section .image .image7 {
    top: 580px;
  }
}
@media screen and (min-width: 784px) {
  header {
    position: fixed;
    width: 100%;
    height: 84px;
    flex-direction: row;
    z-index: 120;
  }
  header nav {
    flex-direction: row;
    height: 84px;
    width: 100%;
  }
  header nav .logoContainer {
    position: absolute;
    width: 38%;
    border-bottom: none;
    border-right: 1px solid rgb(137, 190, 189);
    height: 100%;
  }
  header nav ul {
    width: 60%;
    position: absolute;
    right: 0;
    top: 20px;
    max-width: 624px;
  }
  header nav ul li {
    margin-left: 10px;
  }
  header nav ul li a {
    font-size: 1.4em;
  }
  header nav ul li:last-child {
    width: 96px;
    margin: auto;
  }
  header nav ul li:last-child a {
    margin: auto;
    border: none;
  }
  section {
    display: flex;
    flex-direction: row;
  }
  section .image {
    margin: 0;
    width: 50%;
    height: 90vh;
  }
  section .image div {
    overflow-y: hidden;
  }
  section .image .image1 {
    top: 248px;
    left: calc(50% - 330px);
  }
  section .image .image2 {
    top: 242px;
    left: calc(50% - 336px);
  }
  section .image .image3 {
    top: 236px;
    left: calc(50% - 342px);
  }
  section .image .image4 {
    top: 230px;
    left: calc(50% - 348px);
  }
  section .image .image5 {
    top: 224px;
    left: calc(50% - 354px);
  }
  section .image .image6 {
    top: 218px;
    left: calc(50% - 360px);
  }
  section .image .image7 {
    top: 212px;
    left: calc(50% - 366px);
  }
  section .heading {
    width: 45%;
    padding: 443px 0;
    text-align: left;
  }
  section .heading .animated-title {
    width: 50%;
  }
}
@media screen and (min-width: 1184px) {
  header {
    height: 62px;
  }
  header nav {
    height: 62px;
  }
  header nav .logoContainer {
    padding-top: 5px;
  }
  header nav ul {
    top: 10px;
  }
  section .image {
    width: 45%;
  }
  section .image .image1 {
    width: 356px;
    height: 582px;
    background-size: cover;
    left: calc(50% - 30px - 38vw);
    top: 160px;
  }
  section .image .image2 {
    width: 368px;
    height: 594px;
    left: calc(50% - 36px - 38vw);
    top: 154px;
  }
  section .image .image3 {
    width: 380px;
    height: 606px;
    left: calc(50% - 42px - 38vw);
    top: 148px;
  }
  section .image .image4 {
    width: 392px;
    height: 618px;
    left: calc(50% - 48px - 38vw);
    top: 142px;
  }
  section .image .image5 {
    width: 404px;
    height: 630px;
    left: calc(50% - 54px - 38vw);
    top: 136px;
  }
  section .image .image6 {
    width: 416px;
    height: 642px;
    left: calc(50% - 60px - 38vw);
    top: 130px;
  }
  section .image .image7 {
    width: 428px;
    height: 654px;
    left: calc(50% - 66px - 38vw);
    top: 124px;
  }
  section .heading .animated-title {
    font-size: 1.6em;
  }
}/*# sourceMappingURL=media.css.map */